@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Mochiy+Pop+One&family=Montserrat:wght@400;700&family=Orbitron:wght@400;500&family=Roboto&family=Sansita+Swashed:wght@300;400;504;600&family=Squada+One&display=swap");


* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
  background-image: url(./images/backcovers.svg);
  background-position-x: 750px;
  background-size: 770px;
  background-repeat: no-repeat;
}

.main-div {
  margin-top: 20px;
  margin-left: 120px;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
nav {
  display:flex;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
.nav-items {
  display:flex;
  align-items: center;
  margin-left: 200px;
}

.nav-item {
  margin: 0 20px;
  font-size: 16px;
  color: #3e4794;
  cursor: pointer;
}

.signin-btn {
  margin: 20px 150px;
  padding: 5px 20px;
  border-radius: 85px;
  color: #ffffff;
  border-style: none;
  background: linear-gradient(-285deg, #965cf2 10%, #ee7acf 90%);
  cursor: pointer;
}

/* ------------------------------ */
/* ---------- left section ------------ */
/* ------------------------------ */
.intro-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left-section {
  margin-top: 70px;
  padding: 25px;
}

.left-section h1 {
  font-size: 90px;
  color: #3e4794;
}

.left-section h4 {
  margin-top: 40px;
  width: 350px;
  line-height: 28px;
  color: #666774;
  font-weight: 100;
}

.learn-more-btn {
  margin-top: 50px;
  padding: 21px 60px;
  border-radius: 40px;
  border-style: none;
  background: linear-gradient(-285deg, #965cf2 1%, #fb88dd 100%);
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

/* ------------------------------ */
/* ---------- right section ------------ */
/* ------------------------------ */
.imgs-div {
  height: 700px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 1px;
}

.main {
  height: 700px;
  margin-top: 20px;
}

.vector-img {
  position: relative;
  bottom: 150px;
  left: 120px;
}

.vector-dot {
  position: relative;
  bottom: 240px;
  left: 70px;
}



/* ------------------------------ */
/* ---------- media queries ------------ */
/* ------------------------------ */
@media screen and (max-width: 600px) {
  .intro-section {
    flex-direction: column;
    margin-top: 10rem;
  }

  * {
    margin: 0;
    padding: 0;
  }

  nav img {
    margin-left: 20px;
  }

  .main-div {
    margin: 0;
  }

  .nav-items {
    visibility: hidden;
  }

  .signin-btn {
    visibility: hidden;
  }

  .main {
    height: 400px;
    margin-top: 10rem;
    margin-left: 10px;
  }

  body {
    background-image: none;
  }

  .left-section {
    margin-top: 25rem;
    margin-left: 30px;
  }

  .left-section {
    text-align: center;
  }

  .hamburger {
    display: block;
    margin-left: 14rem;
    margin-top: 1.5rem;
  }

  .hamburger img {
    width: 41px;
  }
}